---
import type { Widget as Props } from '~/types';

const {
  classes = {},
} = Astro.props;
---

<div class="parallax">
  <slot />
</div>
<style is:global>
  .paralax-container {
    position: relative;
    overflow: hidden;
    z-index: 8;
  }
  .paralax-items {
    z-index: 16;
    position: relative;
  }
  .parallax > * {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 100%
  }
</style>
<script>
  function initParallax() {
    const parallaxElements = document.querySelectorAll('.parallax>*');
    const speed = 5;

    window.addEventListener('scroll', () => {
      parallaxElements.forEach((element) => {
        const scrollTop = window.scrollY;
        const elementTop = element.getBoundingClientRect().top;
        const velocity = parseFloat((element as HTMLElement).dataset?.velocity || '') || 0;

        const translateY = (scrollTop - elementTop) * velocity / speed;

        (element as HTMLElement).style.transform = `translateY(${translateY}px)`;
      });
    });
  }

  function onLoad() {
    initParallax();
  }

  document.addEventListener('astro:page-load', () => {
    onLoad();
  });
</script>
