---
import type { ProjectFeature } from '~/utils/projects';
import { getProjectFeatures } from '~/utils/projects';
import Features4 from '~/components/widgets/Features4.astro';
import Paralax from '~/components/custom/Paralax.astro';

export const DEFAULT_PROJECT_FEATURE: ProjectFeature = {
  title: 'Order a Project',
  image: {
    src: '~/assets/images/project/free-project.jpg', 
    alt: 'Order a Project',
  },
  description: ['JavaEE', 'Spring', 'Hibernate', 'JavaME', 'C++', 'ATL', 'WTL', 'MFC'].join(', '),
}

const cloudProjects = await getProjectFeatures('cloud');

type Props = {
  id?: string;
}

const {
  id,
} = Astro.props;
---

<div class="paralax-container" id={id}>
  <Features4
    title="Cloud<br />computing"
    classes={{
      container: "bg-[#E2371B] text-white",
      items: {
        container: "paralax-items"
      },
    }}
    columns={4}
    items={[...cloudProjects, DEFAULT_PROJECT_FEATURE]}
    >
    <Fragment slot="subtitle">
      <div class="hidden md:block">
        <p class="uppercase">Advantages of Server application</p>
        <p>Server applications have a number of advantages:</p>
        <ul class="list-disc">
          <li>The integrity of the data and code. With business logic on a single server, you can guarantee updating and improvement applications for all users. There is no risk that the old version of the application can access data or could to change them old inconsistent manner.</li>
          <li>Safety. The application server is the central point that allows you to remove the responsibility from potentially unsafe client level to the application server level, optionally hiding the database level.</li>
          <li>Centralized configuration and management. Any changes in the application settings can be performed centrally.</li>
          <li>Transaction support. Possibility to reduce cost and time for development.</li>
        </ul>
        <br /><br />

        <p>Cloud computing is a profitable opportunity for enterprises to move their servers and IT departments to outsource, thereby reduce overhead costs and focus more on core business.</p><br /><br />
        <p class="uppercase">What we offer</p>
        <p>IaaS (Infrastructure as a Service), PaaS (Platform as a Service), SaaS (Software as a Service), Public, Private, Hybrid Clouds.</p>
      </div>
    </Fragment>
  </Features4>
  <Paralax variant='red'/>
</div>
