---
import Image from '~/components/common/Image.astro';
import { getImage } from "astro:assets";
import Hero2 from '~/components/widgets/Hero.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';

import backgroundWhite from '~/assets/images/hero/background.jpg';
import backgroundColor from '~/assets/images/hero/top-calor-tr3.png';

const optimizedBackgroundWhite = await getImage({src: backgroundWhite, format: 'jpg'});
const optimizedBackgroundColor = await getImage({src: backgroundColor, format: 'png'});
---

<Hero2>
  <Fragment slot="bg">
    <div class="mt-[76px] [background:var(--pragma-hero-bg-white)_top_center_scroll_repeat]" 
      style={`--pragma-hero-bg-white: url(${optimizedBackgroundWhite.src});`}>
      <div class="relative w-full px-[15px] lg:[background:var(--pragma-hero-bg-colors)_top_center_scroll_repeat]" 
        style={`--pragma-hero-bg-colors: url(${optimizedBackgroundColor.src});`}
      >
        <div class="mx-auto grid md:w-[750px] lg:w-[970px] min-h-[105px] lg:min-h-[284px]">
          <Image
            class="block lg:hidden mt-[40px] !object-contain justify-self-center"
            loading="eager"
            width={678}
            height={35}
            src="~/assets/images/hero/01m_txt_2.png"
            alt=""
          />
          <Image
            class="slogan hidden lg:block [&:not(.slogan-active)]:-translate-x-96 duration-1000 transition-transform"
            loading="eager"
            width={439}
            height={114}
            src="~/assets/images/hero/01f_txt.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('astro:page-load', () => {
        [...document.querySelectorAll('.slogan')].forEach((el) => {
          el.classList.add('slogan-active');
        })
      });
    </script>
  </Fragment>
  <Fragment slot="content">
    <Testimonials2
      testimonials={[
        {
          testimonial: `This is a great vendor and I really hope to work with them again. They are professional, knowledgeable and reliable. Great job!`,
        },
        {
          testimonial: `Very responsive and professional. Would not hesitate to contact them again.`,
        },
        {
          testimonial: `Pragmasoft exceeded my expectations by far. They are exceptionally professional, fast, creative and really care about a satisfying result for their customers. They also really tried to understand our domain, gave us a lot of feedback and insights and enriched our project with a lot of their own ideas. So to sum up, I think we couldn't have found a better partner for our project. Thanks for doing an amazing job!`,
        },
        {
          testimonial: `The team was quickly able to understand the problems needed to be solved and was very good at quality assurance. They also showed in depth knowledge of the technology and advised me on many issues.`,
        },
        {
          testimonial: `The Site Map far exceeded all expectations. Very very hard worker and provided an awesome start to the project.`,
        },
        {
          testimonial: `We're very happy with our designs from pragmasoft so far. They're easy to work with and have been able to provide a nice, clean, new redesign to our current site. They also know how to optimize graphics for faster loading which is essential for today's web. We can't wait to start implementing the designs they've sent over.`,
        },
        {
          testimonial: `Very professional and creative team. Sharp communication, responsive and work in timely-fashion manner. Highly recommended`,
        },
        {
          testimonial: `I was extremely impressed by the services that Pragmasoft offered. I'd definitely work with them again.`,
        },
        {
          testimonial: `It was an absolute pleasure to work with the team at Pragmasoft. We were extremely satisfied with the website design work they did for us here at PMRobot.`,
        },
        {
          testimonial: `Very happy with expertise and service Pragmasoft has provided on this first project with them. I'm sure I will be a repeat customer.`,
        },
        {
          testimonial: `This team went above &amp; beyond in terms of responsiveness, quality, and communication! I would recommend this firm to anyone looking for a strong HTML / front-end development team.`,
        },
        {
          testimonial: `Working with them for years, always good results!`,
        },
      ]}
    />
  </Fragment>
</Hero2>
