---
import Image from '~/components/common/Image.astro';
import { getImage } from "astro:assets";
import Hero2 from '~/components/widgets/Hero.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';

import backgroundWhite from '~/assets/images/hero/background.jpg';
import backgroundColor from '~/assets/images/hero/top-calor-tr3.png';

const optimizedBackgroundWhite = await getImage({src: backgroundWhite, format: 'jpg'});
const optimizedBackgroundColor = await getImage({src: backgroundColor, format: 'png'});
---

<Hero2>
  <Fragment slot="bg">
    <div class="mt-[76px] [background:var(--pragma-hero-bg-white)_top_center_scroll_repeat]" 
      style={`--pragma-hero-bg-white: url(${optimizedBackgroundWhite.src});`}>
      <div class="relative w-full px-[15px] lg:[background:var(--pragma-hero-bg-colors)_top_center_scroll_repeat]" 
        style={`--pragma-hero-bg-colors: url(${optimizedBackgroundColor.src});`}
      >
        <div class="mx-auto grid md:w-[750px] lg:w-[970px] min-h-[105px] lg:min-h-[284px]">
          <Image
            class="block lg:hidden mt-[40px] !object-contain justify-self-center"
            loading="eager"
            width={678}
            height={35}
            src="~/assets/images/hero/01m_txt_2.png"
            alt=""
          />
          <Image
            class="slogan hidden lg:block [&:not(.slogan-active)]:-translate-x-96 duration-1000 transition-transform"
            loading="eager"
            width={439}
            height={114}
            src="~/assets/images/hero/01f_txt.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('astro:page-load', () => {
        [...document.querySelectorAll('.slogan')].forEach((el) => {
          el.classList.add('slogan-active');
        })
      });
    </script>
  </Fragment>
  <Fragment slot="content">
    <Testimonials2
      testimonials={[
        {
          testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        },
        {
          testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        },
        {
          testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        },
      ]}
    />
  </Fragment>
</Hero2>
