---
import { getProjectFeatures } from '~/utils/projects';
import Features4 from '~/components/widgets/Features4.astro';
import Paralax from '~/components/custom/Paralax.astro';

const javaProjects = await getProjectFeatures('java');

type Props = {
  id?: string;
}

const {
  id,
} = Astro.props;
---

<div class="paralax-container" id={id}>
  <Features4
    id="mobile-app-development"
    title="Java Server applications"
    classes={{
      container: "bg-[#FFB700] max-w-full", 
      headline: {
        title: "font-thin text-[40px] mb-20 text-center", 
        container: "text-start text-[18px] md:max-w-[970px] mx-auto",
      },
      items: {
        container: "paralax-items text-[18px] mt-[105px] md:w-[970px] mx-auto justify-items-center place-content-center"
      }
    }}
    columns={4}
    items={javaProjects}
    >
    <Fragment slot="subtitle">
      <p class="uppercase">Advantages of Server application</p>
      <p>Server applications have a number of advantages:</p>
      <ul class="list-disc">
        <li>The integrity of the data and code. With business logic on a single server, you can guarantee updating and improvement applications for all users. There is no risk that the old version of the application can access data or could to change them old inconsistent manner.</li>
        <li>Safety. The application server is the central point that allows you to remove the responsibility from potentially unsafe client level to the application server level, optionally hiding the database level.</li>
        <li>Centralized configuration and management. Any changes in the application settings can be performed centrally.</li>
        <li>Transaction support. Possibility to reduce cost and time for development.</li>
      </ul>
      <br /><br />

      <p class="uppercase">What we offer</p>
      <p>Server-side/client-side high quality Java applications.<br />
Pragmasoft Team has a great experience in server application development. Our experience along with the latest technologies and individual approach to each Сlient will provide you with a reliable partner that can meet your requirements and realize the most challenging ideas.</p>
    </Fragment>
  </Features4>
  <Paralax variant='orange'/>
</div>
