---
import { getProjectFeatures } from '~/utils/projects';
import Features4 from '~/components/widgets/Features4.astro';
import Paralax from '~/components/custom/Paralax.astro';

const mobileProjects = await getProjectFeatures('mobile');

type Props = {
  id?: string;
}

const {
  id,
} = Astro.props;
---

<div class="paralax-container" id={id}>
  <Features4
    id="mobile-app-development"
    title="Mobile App<br />Development"
    classes={{
      container: "bg-[#81CDDB] max-w-full", 
      headline: {
        title: "font-thin text-[40px] mb-20 text-center", 
        container: "text-start text-[18px] md:max-w-[970px] mx-auto",
      },
      items: {
        container: "paralax-items text-[18px] mt-[105px] md:w-[970px] mx-auto justify-items-center place-content-center"
      }
    }}
    columns={4}
    items={mobileProjects}
    >
    <Fragment slot="subtitle">
      <p>In today's world, phones have long ceased to be a communication means only. They enable us to be in touch with our near and dear ones, to stay tuned, to kill time in queues,to stay in social networks for hours  or to play applications. We keep so much information in our phones that can hardly imagine life without them. Precisely these needs created a great space for mobile developers.</p>
      <p>We really are professionals in mobile software development and can offer you not only a full cycle software development process for IOS, Android, Blackberry mobile platforms, but also the server-side.</p><br /><br />

      <p class="uppercase">What we offer</p>
      <ul class="list-disc">
        <li>IOS,</li>
        <li>Android,</li>
        <li>Cross platform,</li>
        <li>Server-side,</li>
        <li>Client solutions.</li>
      </ul>
    </Fragment>
  </Features4>
  <Paralax variant='sky'/>
</div>
