---
import { getImage } from "astro:assets";
import Features4 from '~/components/widgets/Features4.astro';

import Paralax from '~/components/custom/Paralax.astro';


import elfishki from '~/assets/images/project/mobile/elfishki.jpg';
import iSign from '~/assets/images/project/mobile/isign.jpg';
import mls from '~/assets/images/project/mobile/mls.jpg';
import memeco from '~/assets/images/project/mobile/momeco.jpg';
import coloringBook from '~/assets/images/project/mobile/story.jpg';
import vyke from '~/assets/images/project/mobile/vike.jpg';
import wlcome from '~/assets/images/project/mobile/wlcome.jpg';
import emailManager from '~/assets/images/project/mobile/email.jpg';

const optimizedElfishki = await getImage({src: elfishki, format: 'jpg'});
const optimizediSign = await getImage({src: iSign, format: 'jpg'});
const optimizedMls = await getImage({src: mls, format: 'jpg'});
const optimizedMemeco = await getImage({src: memeco, format: 'jpg'});
const optimizedcoloringBook = await getImage({src: coloringBook, format: 'jpg'});
const optimizedVyke = await getImage({src: vyke, format: 'jpg'});
const optimizedWlcome = await getImage({src: wlcome, format: 'jpg'});
const optimizedEmailManager = await getImage({src: emailManager, format: 'jpg'});
---

<div class="paralax-container">
  <Features4
    id="mobile-app-development"
    title="MOBILE APP DEVELOPMENT"
    classes={{
      container: "bg-[#81CDDB] max-w-full", 
      headline: {
        title: "font-thin text-[40px] mb-20 text-center", 
        container: "text-start text-[18px] md:w-[970px] mx-auto",
      },
      items: {
        container: "paralax-items text-[18px] mt-[105px] mb-[70px] md:w-[970px] mx-auto"
      }
    }}
    columns={4}
    items={[{
      title: 'Elfishki',
      description: "Network Reachability, Core Graphics Framework",
      image: {src: optimizedElfishki.src, alt: "Elfishki"},
      href: '#',
    },{
      title: 'iSIgn',
      description: "Network Reachability, Core Graphics Framework",
      image: {src: optimizediSign.src, alt: "iSIgn"},
      href: '#',
    },{
      title: 'MLS',
      description: "JavaEE, Spring, Hibernate, JavaME, C++, ATL, WTL, MFC",
      image: {src: optimizedMls.src, alt: "MLS"},
      href: '#',
    },{
      title: 'Memeco',
      description: "Design, iPhone, icon design, HTML, CSS, Blackberry, Nokia",
      image: {src: optimizedMemeco.src, alt: "Memeco"},
      href: '#',
    },{
      title: 'COLORING BOOK APP',
      description: "Facebook API, Media Player Framework",
      image: {src: optimizedcoloringBook.src, alt: "COLORING BOOK APP"},
      href: '#',
    },{
      title: 'Vyke',
      description: "AndroidSDK",
      image: {src: optimizedVyke.src, alt: "Vyke"},
      href: '#',
    },{
      title: 'Wlcome',
      description: "J2EE (EJB 3.0, JPA, JAX-RS), Arquillian for testing",
      image: {src: optimizedWlcome.src, alt: "Wlcome"},
      href: '#',
    },{
      title: 'EMAIL MANAGER',
      description: "UIKit, Custom Table View Control, Async Web Requests",
      image: {src: optimizedEmailManager.src, alt: "EMAIL MANAGER"},
      href: '#',
    },]}
    >
    <Fragment slot="subtitle">
      <p>In today's world, phones have long ceased to be a communication means only. They enable us to be in touch with our near and dear ones, to stay tuned, to kill time in queues,to stay in social networks for hours  or to play applications. We keep so much information in our phones that can hardly imagine life without them. Precisely these needs created a great space for mobile developers.</p>
      <p>We really are professionals in mobile software development and can offer you not only a full cycle software development process for IOS, Android, Blackberry mobile platforms, but also the server-side.</p><br /><br />

      <p class="uppercase">What we offer</p>
      <ul class="list-disc">
        <li>IOS,</li>
        <li>Android,</li>
        <li>Cross platform,</li>
        <li>Server-side,</li>
        <li>Client solutions.</li>
      </ul>
    </Fragment>
  </Features4>
  <Paralax/>
</div>
