---
import Layout from '~/layouts/PageLayout.astro';
import Section from './_sections/Section.astro';
---

<Layout metadata={{
  ignoreTitleTemplate: true,
}}>
  <Section name="hero"/>

  <Section id="about" name="about"/>

  <div id="projects">
    <Section id="mobile-app-development" name="mobile"/>
    <Section id="java-app-development" name="java"/>
    <Section id="cloud-computing" name="cloud"/>
    <Section id="web-design" name="design"/>
  </div>

  <Section id="team" name="team"/>

  <Section id="quality" name="quality"/>
</Layout>
