---
import Layout from '~/layouts/PageLayout.astro';

import Hero from './_sections/Hero.astro';
import Section from './_sections/Section.astro';
import Team from './_sections/Team.astro';
import Quality from './_sections/Quality.astro';
---

<Layout metadata={{
  ignoreTitleTemplate: true,
}}>
  <Hero/>

  <Section id="about" name="about"/>

  <div id="projects">
    <Section id="mobile-app-development" name="mobile"/>
    <Section id="java-app-development" name="java"/>
    <Section id="cloud-computing" name="cloud"/>
    <Section id="web-design" name="design"/>
  </div>

  <Team id="team"/>

  <Quality id="quality"/>
</Layout>
