---
import { getImage } from "astro:assets";
import Image from '~/components/common/Image.astro';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Testimonials2 from '~/components/widgets/Testimonials2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Stats2 from '~/components/widgets/Stats2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import WhatWeOffer from '~/components/widgets/WhatWeOffer.astro';

import backgroundWhite from '~/assets/images/hero/background.jpg';
import backgroundColor from '~/assets/images/hero/top-calor-tr3.png';

import elfishki from '~/assets/images/project/mobile/elfishki.jpg';
import iSign from '~/assets/images/project/mobile/isign.jpg';
import mls from '~/assets/images/project/mobile/mls.jpg';
import memeco from '~/assets/images/project/mobile/momeco.jpg';
import coloringBook from '~/assets/images/project/mobile/story.jpg';
import vyke from '~/assets/images/project/mobile/vike.jpg';
import wlcome from '~/assets/images/project/mobile/wlcome.jpg';
import emailManager from '~/assets/images/project/mobile/email.jpg';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};

const optimizedBackgroundWhite = await getImage({src: backgroundWhite, format: 'jpg'});
const optimizedBackgroundColor = await getImage({src: backgroundColor, format: 'png'});

const optimizedElfishki = await getImage({src: elfishki, format: 'jpg'});
const optimizediSign = await getImage({src: iSign, format: 'jpg'});
const optimizedMls = await getImage({src: mls, format: 'jpg'});
const optimizedMemeco = await getImage({src: memeco, format: 'jpg'});
const optimizedcoloringBook = await getImage({src: coloringBook, format: 'jpg'});
const optimizedVyke = await getImage({src: vyke, format: 'jpg'});
const optimizedWlcome = await getImage({src: wlcome, format: 'jpg'});
const optimizedEmailManager = await getImage({src: emailManager, format: 'jpg'});
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="bg">
      <div class="mt-[76px] [background:var(--pragma-hero-bg-white)_top_center_scroll_repeat]" 
        style={`--pragma-hero-bg-white: url(${optimizedBackgroundWhite.src});`}>
        <div class="relative w-full px-[15px] lg:[background:var(--pragma-hero-bg-colors)_top_center_scroll_repeat]" 
          style={`--pragma-hero-bg-colors: url(${optimizedBackgroundColor.src});`}
        >
          <div class="mx-auto grid md:w-[750px] lg:w-[970px] min-h-[105px] lg:min-h-[284px]">
            <Image
              class="block lg:hidden mt-[40px] !object-contain justify-self-center"
              loading="eager"
              width={678}
              height={35}
              src="~/assets/images/hero/01m_txt_2.png"
              alt=""
            />
            <Image
              class="hidden lg:block"
              loading="eager"
              width={439}
              height={114}
              src="~/assets/images/hero/01f_txt.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </Fragment>
    <Fragment slot="content">
      <Testimonials2
        testimonials={[
          {
            testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
          },
          {
            testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
          },
          {
            testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
          },
        ]}
      />
    </Fragment>
  </Hero3>

  <div class="w-full bg-[#31cbaa]">
    <!-- Stats Widget ****************** -->
    <Stats2
      stats={[
        { amount: '10', title: 'years of successful software development' },
        { amount: '100+', title: 'successfully completed projects' },
        { amount: '100%', title: 'result-oriented company' },
        { amount: '1000+', title: 'positive feedbacks from our customers' },
      ]}
    />
    <WhatWeOffer classes={{container: "-mt-[72px]"}}/>
    </div>      
  </div>

  <!-- Content Widget **************** -->

  <Features4
    id="mobile-app-development"
    title="MOBILE APP DEVELOPMENT"
    classes={{
      container: "bg-[#81CDDB] max-w-full", 
      headline: {
        title: "font-thin text-5xl mb-20 text-center", 
        container: "text-start text-xl md:w-[970px] mx-auto",
      },
      items: {
        container: "md:w-[970px]  mx-auto"
      }
    }}
    columns={4}
    items={[{
      title: 'Elfishki',
      description: "Network Reachability, Core Graphics Framework",
      image: {src: optimizedElfishki.src, alt: "Elfishki"},
    },{
      title: 'iSIgn',
      description: "Network Reachability, Core Graphics Framework",
      image: {src: optimizediSign.src, alt: "iSIgn"},
    },{
      title: 'MLS',
      description: "JavaEE, Spring, Hibernate, JavaME, C++, ATL, WTL, MFC",
      image: {src: optimizedMls.src, alt: "MLS"},
    },{
      title: 'Memeco',
      description: "Design, iPhone, icon design, HTML, CSS, Blackberry, Nokia",
      image: {src: optimizedMemeco.src, alt: "Memeco"},
    },{
      title: 'COLORING BOOK APP',
      description: "Facebook API, Media Player Framework",
      image: {src: optimizedcoloringBook.src, alt: "COLORING BOOK APP"},
    },{
      title: 'Vyke',
      description: "AndroidSDK",
      image: {src: optimizedVyke.src, alt: "Vyke"},
    },{
      title: 'Wlcome',
      description: "J2EE (EJB 3.0, JPA, JAX-RS), Arquillian for testing",
      image: {src: optimizedWlcome.src, alt: "Wlcome"},
    },{
      title: 'EMAIL MANAGER',
      description: "UIKit, Custom Table View Control, Async Web Requests",
      image: {src: optimizedEmailManager.src, alt: "EMAIL MANAGER"},
    },]}
  >
    <Fragment slot="subtitle">
      <p>In today's world, phones have long ceased to be a communication means only. They enable us to be in touch with our near and dear ones, to stay tuned, to kill time in queues,to stay in social networks for hours  or to play applications. We keep so much information in our phones that can hardly imagine life without them. Precisely these needs created a great space for mobile developers.</p>
      <p>We really are professionals in mobile software development and can offer you not only a full cycle software development process for IOS, Android, Blackberry mobile platforms, but also the server-side.</p><br /><br />

      <p class="uppercase">What we offer</p>
      <ul class="list-disc">
        <li>IOS,</li>
        <li>Android,</li>
        <li>Cross platform,</li>
        <li>Server-side,</li>
        <li>Client solutions.</li>
      </ul>
    </Fragment>
  </Features4>

</Layout>
