---
import Layout from '~/layouts/PageLayout.astro';

import Hero from './_sections/Hero.astro';
import About from './_sections/About.astro';
import MobileAppDev from './_sections/MobileAppDev.astro';
---

<Layout>
  <Hero/>

  <div class="w-full bg-[#31cbaa]" id="about">
    <About/>
  </div>

  <div id="projects">
    <MobileAppDev />
  </div>
</Layout>
