---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import pragmasoftLogo from '~/assets/images/pragmasoft.svg';
---

<span
  class="flex items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl font-thin text-green-700 whitespace-nowrap dark:text-white"
>
  <span>{SITE?.name}</span><Image src={pragmasoftLogo} alt="Pragmasoft company logo." loading="eager" height="40" class="position relative top-1 -left-4"/>
</span>
