---
import Stats2 from '~/components/widgets/Stats2.astro';
import WhatWeOffer from '~/components/custom/WhatWeOffer.astro';

type Props = {
  id?: string;
}

const {
  id,
} = Astro.props;
---

<div class="w-full bg-[#31cbaa]" id={id}>
  <Stats2
    stats={[
      { amount: '10', title: 'years of successful software development' },
      { amount: '100+', title: 'successfully completed projects' },
      { amount: '100%', title: 'result-oriented company' },
      { amount: '1000+', title: 'positive feedbacks from our customers' },
    ]}
  />
  <WhatWeOffer/>
</div>
