---
import { getProjectFeatures } from '~/utils/projects';
import Features4 from '~/components/widgets/Features4.astro';
import Paralax from '~/components/custom/Paralax.astro';

const mobileProjects = await getProjectFeatures('mobile');

type Props = {
  id?: string;
}

const {
  id,
} = Astro.props;
---

<div class="paralax-container" id={id}>
  <Features4
    title="Mobile App<br />Development"
    classes={{
      container: "bg-[#81CDDB]",
      items: {
        container: "paralax-items"
      },
    }}
    columns={4}
    items={mobileProjects}
    >
    <Fragment slot="subtitle">
      <div class="hidden md:block">
        <p class="uppercase">Advantages of cloud computing</p>
        <ul class="list-disc">
          <li>Disk space saving</li>
          <li>High speed of data processing</li>
          <li>Reduction of costs for hardware, software, maintenance and  electricity</li>
          <li>Reduced requirements for the PC processing power (access to the Internet is a must)</li>
          <li>Security</li>
          <li>Fault-tolerance</li>
        </ul>
      </div>
    </Fragment>
  </Features4>
  <Paralax variant='sky'/>
</div>
